@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.sansation-light {
    font-family: "Sansation", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #F2E5D5;
}

.sansation-regular {
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:  #F2E5D5;
}

.sansation-bold {
    font-family: "Sansation", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:  #F2E5D5;
}

.sansation-light-italic {
    font-family: "Sansation", sans-serif;
    font-weight: 300;
    font-style: italic;
    color:  #F2E5D5;
}

.sansation-regular-italic {
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-style: italic;
    color:  #F2E5D5;
}

.sansation-bold-italic {
    font-family: "Sansation", sans-serif;
    font-weight: 700;
    font-style: italic;
    color:  #F2E5D5;
}
.logo-background {

    background-image: url('logo.ico');

    background-position: center;
    background-repeat: no-repeat;

    background-size: contain;

    padding: 10px 20px;
    width: 120px;
    text-align: center;
}

.logo-background .uk-logo {
    opacity: 1;
}
video {
    align-items: center;
}

body, div {
    background: #012E40;
}

h1, h2, h3, h4, h5, h6, p {
    color: #F2E5D5;
}

